{% extends "base.html.twig" %}
{% block body %}
<h1>
    {{ title }}
</h1>
<p>
    Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. 
    Perferendis ea, amet enim qui harum
     odit voluptate quisquam dignissimos? 
     Perspiciatis facilis ullam tenetur 
     necessitatibus fuga facere ipsa nobis,
      voluptatem mollitia cumque.
</p>
<p>
    Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. 
    Perferendis ea, amet enim qui harum
     odit voluptate quisquam dignissimos? 
     Perspiciatis facilis ullam tenetur 
     necessitatibus fuga facere ipsa nobis,
      voluptatem mollitia cumque.
</p>
{% endblock %}
